    @media screen and (max-width:1919px) {
        
        .showCircle::after {
            right: 16%;
            bottom: 64%;
        }
    
        .right-Infants-cntent {
            margin-top: 170px;
        }
    
        .learning-down-bg {
            bottom: -90px;
            z-index: -1;
        }
    
        .home-team::before {
            right: -15%;
        }
     
    }


    @media screen and (max-width:1799px) {
    
        .showCircle::after {
            right: 14%;
            bottom: 64%;
        }

        .showCircle::before {
            right: 38%;
            bottom: 20%;
        }

        .wrapper {
            width: 1200px;
        }

        .age-group .wrapper {
            width: 1306px;
        }

        .age-group::before {
            width: 80px;
            height: 80px;
        }

        .age-group::after {
            width: 60px;
            height: 60px;
            right: 2%;
            top: 46%;
        }

        .age-group:hover::after {
            right: 6%;
            top: 43%;
        }

        .learning-zones .wrapper {
            width: 1306px;
        }

        .learning-zones .owl-nav .owl-prev {
            left: -8%;
        }

        .learning-zones .owl-nav .owl-next {
            right: -8%;
        }


        .team-left::after {
            top: 14%;
            right: -5%;
        }

        .home-team:hover .team-left::after {
            top: 6%;
            right: -74px;
        }

        .home-team::before {
            width: 366px;
            height: 400px;
            top: 4%;
            right: -17%;
        }


        .home-blog-inner {
            align-items: inherit;
        }

        .close_popup {
            right: 15px;
            top: 13px;
        }
    
        .home-team {
            padding: 0 7%;
        }
    
        .home-testmonial .wrapper {
            width: 916px;
        }
    
        .home-blog {
            padding: 0 11%;
        }
    
        .first-step-sec {
            padding: 0 11%;
        }

    
    }
    



    @media screen and (max-width: 1679px) {
   
        .home-team:hover::before {
            right: -14%;
        }

        .showCircle::after {
            right: 15%;
        }

        .bnr-cnt-home h2 {
            font-size: 60px;
        }

        .bnr-cnt-home P {
            font-size: 25px;
        }


        .bnr-cnt-home a {
            padding: 13px 50px;
        }



}

    @media screen and (max-width: 1600px) {
        .age-group .wrapper {
            width: 1046px;
        }

        .wrapper {
            width: 1046px;
            margin: 0 auto;
        }

        .tabing-top li a {
            padding: 10px 35px;
            font-size: 16px;
        }

        .tabing-top li {
            margin-right: 35px;
        }

        .left_abt_home {
            margin-left: 5%;
        }

        .left_abt_home p {
            font-size: 18px;
        }

        .left_abt_home h5 {
            font-size: 25px;
        }

        .right-Infants-cntent {
            margin-top: 150px;
        }

        .right-Infants-cntent p {
            margin-top: 25px;
        }

        .showCircle::after {
            right: 15%;
        }

        p{font-size: 18px;}

        h5 {
            font-size: 18px;
        }

        .team-right h5 {
            font-size: 25px;
        }

        .learning-down-bg {
            bottom: -89px;
        }

        .learning-zones .wrapper {
            width: 1046px;
        }

        .testmonial-inner-design h5 {
            font-size: 25px;
        }

        .age-group::after {
            top: 53%;
        }

        .age-group:hover::after {
            right: 8%;
            top: 48%;
        }

        .learning-up-bg {
            top: -75px;
            z-index: -1;
        }

        .team-left::after {
            top: 13%;
            right: -7%;
        }


        .learning-zones {
            padding-bottom: 60px;
        }

        .learning-down-bg {
            bottom: -70px;
        }

        .right-step a {
            font-size: 16px;
        }

        .first-step-sec::before {
            width: 60px;
            height: 60px;
        }

        .first-step-sec::after {
            width: 180px;
            height: 180px;
            right: -8%;
        }

        .first-step-sec:hover::after {
            right: -7%;
        }

        .blog-cnt-right h5 {
            font-size: 22px;
        }


        p {
            font-size: 16px;
        }

        .age-sec-title p {
            font-size: 20px;
        }

        .testmonial-icon-bg {
            right: 5%;
        }

    }
    
    @media screen and (max-width:1599px) {
       

    }
    
    @media screen and (max-width:1535px) {
       
        .bnr-cnt-home h2 {
            font-size: 50px;
        }

        .bnr-cnt-home P {
            font-size: 22px;
        }

        .home-slider:hover .right-bnr-sercle {
            width: 85px;
            height: 85px;
            top: 29%;
            right: -40px;
        }

        .home-slider:hover .left-bnr-sercle {
            width: 145px;
            height: 145px;
            top: 58%;
        }

        .left-bnr-sercle {
            width: 78px;
            height: 77px;
            left: -39px;
            top: 34%;
        }

        .left_abt_home h5 {
            font-size: 22px;
        }

        .left_abt_home p {
            font-size: 16px;
        }

        .showCircle::after {
            right: 13%;
        }

        .showCircle::before {
            right: 35%;
            bottom: 16%;
        }

        .home-team::before {
            width: 366px;
            height: 400px;
            top: 4%;
            right: -19%;
        }

        .home-testmonial .owl-nav .owl-prev {
            left: -28%;
        }

        .home-testmonial .owl-nav .owl-next {
            right: -28%;
        }

        .blog-date-home .date-prt {
            font-size: 18px;
        }


        .ancer-tag-blog a span img{width: 100%;}

        .ancer-tag-blog a span img {
            width: 80% !important;
            margin: 0 auto;
        }

        .tabing-top li {
            margin-right: 30px;
        }

        .right-Infants-cntent h5 {
            font-size: 22px;
        }

        .right-Infants-cntent p {
            font-size: 16px;
        }

        .home-blog .wrapper {
            width: 100%;
        }

    }
    
    @media screen and (max-width:1479px) {
       
        
    }
    
    @media screen and (max-width:1439px) {
       

        .bnr-cnt-home h2 {
            font-size: 45px;
        }

        .bnr-cnt-home P {
            font-size: 21px;
        }

        .bnr-cnt-home a {
            padding: 11px 50px;
            font-size: 16px;
        }

        .showCircle::after {
            right: 11%;
        }

        .wrapper {
            width: 1030px;
        }

        .age-group .wrapper {
            width: 1030px;
        }

        .learning-zones .wrapper {
            width: 1030px;
        }

        .home-team {
            padding: 0 8%;
        }

        .home-testmonial .wrapper {
            width: 900px;
        }

        .home-blog {
            padding: 0 12%;
        }

        .first-step-sec {
            padding: 0 12%;
        }

        .testmonial-icon-bg {
            position: absolute;
            right: 3%;
            top: 21%;
        }

        .home-team {
            margin: 80px 0;
            margin-top: 150px;
        }

        .home-gallery {
            margin: 80px 0;
        }

        .home-team::before {
            width: 308px;
            height: 292px;
            top: 4%;
            right: -18%;
        }

        .left-blog-url ul li a {
            padding: 13px 0;
            font-size: 18px;
        }

        .home-blog::before {
            width: 544px;
            height: 270px;
            left: -13%;
        }

        .first-step-sec::after {
            right: -10%;
        }

        .blog_bg_circle {
            width: 50px;
            height: 50px;
            bottom: 30%;
            right: 3%;
        }

        .all_popup_design .modal-dialog {
            width: 70%;
        }

        .home-blog .owl-theme .owl-nav.disabled+.owl-dots {
            padding-left: 19%;
        }

        .age-group::before {
            width: 60px;
            height: 60px;
        }

        .age-group::after {
            top: 56%;
            width: 50px;
            height: 50px;
        }

        .age-group:hover::after {
            right: 7%;
            top: 51%;
        }

        .age-sec-title p {
            font-size: 18px;
        }

        .tabing-top li {
            margin-right: 25px;
        }

        .home-blog .wrapper {
            width: 100%;
        }

    }

    @media screen and (max-width:1365px) {
       
        .bnr-cnt-home h2 {
            font-size: 40px;
        }

        .bnr-cnt-home P {
            font-size: 19px;
        }

        .home-slider:hover .left-bnr-sercle {
            width: 120px;
            height: 119px;
        }

        .right-bnr-sercle {
            width: 120px;
            height: 119px;
        }

        .home-about::before {
            width: 275px;
            height: 175px;
        }

        .home-about {
            padding: 80px 0;
            padding-bottom: 40px;
        }

        .wrapper {
            width: 1000px;
        }

        .age-group .wrapper {
            width: 1000px;
        }

        .age-group:hover::after {
            right: 6%;
            top: 54%;
        }

        .age-group::after {
            top: 58%;
        }

        .learning-up-bg {
            top: -62px;
        }


        .learning-zones {
            margin-top: 90px;
        }

        .learning-cntent a img {
            width: 80% !important;
            margin-left: 10%;
        }

        .learning-cntent a {
            padding: 8px 15px;
        }

        .team-left::after {
            width: 50px;
            height: 50px;
        }

        .home-team::before {
            width: 275px;
            height: 270px;
            top: 4%;
            right: -18%;
        }

        .team-right h5 {
            font-size: 22px;
        }

        .team-right a img {
            width: 80%;
            margin-left: 10%;
        }

        .team-right a {
            padding: 8px 15px;
        }

        .testmonial-color {
            width: 120px;
        }

        .testmonial-opacity {
            width: 120px;
        }

        .testmonial-icon-bg {
            right: 2%;
        }

        .home-testmonial .wrapper {
            width: 870px;
        }

        .home-blog {
            padding: 0 13%;
        }

        .first-step-sec {
            padding: 0 13%;
        }

        .left-blog-url ul li a {
            padding: 11px 0;
            font-size: 16px;
        }
        .home-blog .wrapper {
            width: 100%;
        }

        .home-testmonial .wrapper {
            width: 840px;
        }

        .home-team {
            padding: 0 9%;
        }

        .home-team:hover .team-left::after {
            top: 9%;
            right: -50px;
        }

        .tabing-top li a {
            padding: 10px 33px;
            font-size: 15px;
        }

        .showCircle::after {
            right: 10%;
        }

        .showCircle::before {
            right: 37%;
            bottom: 15%;
        }

        .home-left-abt-btn a {
            padding: 7px 80px 7px 15px;
        }

        .home-left-abt-btn a span img {
            width: 80%;
        }

        .home-left-abt-btn a {
            font-size: 14px;
        }

        .all_popup_design .age-sec-title {
            margin-top: 30px;
        }

        .right-Infants-cntent {
            margin-top: 140px;
        }

        .right-Infants-cntent p {
            margin-top: 20px;
            font-size: 14px;
        }

        .age-sec-title p {
            font-size: 16px;
        }

        p {
            font-size: 14px;
        }

        .team-right h5 {
            font-size: 20px;
        }

        .home-blog {
            margin-top: 20px;
        }

        .blog-cnt-right h5 {
            font-size: 20px;
        }

        .blog-date-home .date-prt {
            font-size: 14px;
        }

        .ancer-tag-blog a span img {
            width: 70% !important;
        }

        .ancer-tag-blog a {
            padding: 8px 15px;
        }

        .age-sec-title p {
            font-size: 14px;
        }

        .all_popup_design {
            top: 90px;
        }

        .all_popup_design .form_information p {
            font-size: 14px;
        }


        .see-all-blog a {
            padding: 6px 20px;
            font-size: 16px;
        }

        .your_information_btn button, input {
            font-size: 16px;
        }

        .all_popup_design .form_information {
            margin-top: 30px;
        }

        .left-step h5 {
            font-size: 20px;
        }

        .left-step p {
            margin-top: 15px;
        }

        .right-step a:first-child{margin-top: 0;}

        .first-step-sec::before {
            width: 50px;
            height: 50px;
        }

    }
    
    @media screen and (max-width:1279px) {
        
        

    }
    
    @media screen and (max-width:1199px) {
      
     
    
    html {
        overflow-x: hidden;
    } 


    .wrapper {
        width: 90%;
    }

    .age-group .wrapper {
        width: 80%;
    }

    .learning-up-bg {
        top: -45px;
    }

    .learning-down-bg {
        bottom: -45px;
    }

    .learning-zones .wrapper {
        width: 80%;
    }

    .home-testmonial .wrapper {
        width: 70%;
    }

    .testmonial-icon-bg {
        right: 1%;
    }

    .testmonial-color {
        width: 100px;
    }

    .testmonial-opacity {
        width: 100px;
    }

    .home-blog::before {
        width: 527px;
        height: 220px;
        left: -13%;
    }

    .home-blog .owl-theme .owl-nav.disabled+.owl-dots {
        padding-left: 16%;
    }

    .right-step a {
        font-size: 14px;
    }


    .right-step {
        padding: 44px 9%;
    }

    .tabing-top li a {
        padding: 10px 20px;
        font-size: 14px;
    }

    .tabing-top {
        left: 46%;
        top: 45px;
    }

    .right-Infants-cntent {
        margin-top: 120px;
    }

    .age-bg-path {
        width: 400px;
        right: -12%;
        top: 10%;
    }

    .left-home-gallery:first-child {
        width: 27%;
    }

    .left-home-gallery {
        width: 39%;
    }

    .left-home-gallery:last-child {
        width: 33%;
    }

    .blog-cnt-right h5 {
        font-size: 16px;
    }


  
    

    }

    @media screen and (max-width:1079px) {
       
    }
    
    @media screen and (max-width:1023px) {
       
    }
    
    @media screen and (max-width:991px) {
      
        .bnr-cnt-home h2 {
            font-size: 35px;
        }

        .bnr-cnt-home P {
            font-size: 17px;
        }

        .bnr-cnt-home a {
            padding: 10px 40px;
            font-size: 15px;
        }

        .home-about-inner {
            display: flex;
            gap: 0 10%;
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }

        .right_abt_home {
            width: 80%;
            margin: 0 auto;
        }

        .home-about-inner {
            display: flex;
            gap: 0 10%;
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }


        .left_abt_home {
            margin-left: 0;
            margin-top: 60px;
            width: 100%;
        }

        .home-about::before {
            width: 275px;
            height: 175px;
            left: inherit;
            right: -26%;
            top: 58%;
        }

        .home-about:hover::before{left: inherit;}

        .home-about-inner::before {
            content: "";
            width: 35px;
            height: 35px;
            background: #8cc243;
            position: absolute;
            right: inherit;
            bottom: inherit;
            left: 24%;
            top: 53%;
            z-index: 99;
            border-radius: 50%;
            transition: 1.5s;
            opacity: 0.5;
        }

        .home-about-inner::after {
            content: "";
            width: 30px;
            height: 30px;
            background: #1761ae;
            position: absolute;
            bottom: inherit;
            right: 16%;
            top: 20%;
            z-index: 99;
            border-radius: 50%;
            transition: 1.5s;
            opacity: 1;
            left: inherit;
        }


        .age-group:hover::before {
            top: 72%;
        }

        .age-group:hover::after {
            right: 7%;
            top: 52%;
        }

        .age-group .age-sec-title p{display: none;}

        .Infants-main {
            display: flex;
            gap: 30px 2%;
            flex-wrap: wrap;
        }

        .left-Infants {
            width: 100%;
        }

        .right-Infants {
            width: 100%;
        }

        .all_popup_design .modal-dialog {
            width: 90%;
        }

        .Infants-second{display: none;}

        .age-bg-path {
            width: 301px;
            right: -18%;
            top: inherit;
            bottom: 7px;
        }

        .age-group {
            padding-bottom: 100px;
        }

        .age-group .wrapper {
            width: 90%;
        }

        .right-Infants {
            padding-bottom: 50px;
        }

        .tabing-top {
            left: 7%;
            top: 68%;
            width: 100%;
        }

        .tabing-top li a {
            padding: 10px 30px;
            font-size: 20px;
        }

        .right-Infants-cntent {
            margin-top: 140px;
        }

     


        .age-group::before {
            width: 40px;
            height: 40px;
            z-index: 9;
            left: inherit;
            right: 18px;
            background: #1DD5D1;
            top: 72%;
        }


        .age-group::after {
            right: inherit;
            top: 52%;
            width: 50px;
            height: 50px;
            left: 20px;
        }


        .learning-up-bg {
            top: -113px;
        }

        .learning-down-bg {
            bottom: -108px;
        }

        .learning-zones {
            margin-top: 120px;
        }

        .age-sec-title p {
            font-size: 18px;
        }

        .age-sec-title p br{display: none;}

        .learning-zones .owl-nav .owl-prev span {
            width: 40px;
            height: 40px
        }

        .learning-zones .owl-nav .owl-next span {
            width: 40px;
            height: 40px;
        }


        .right-Infants-cntent p {
            font-size: 18px;
        }


        .team-inner {
            display: flex;
            gap: 0%;
            flex-wrap: wrap;
        }


        .team-left {
            width: 80%;
            margin: 0 auto;
        }

        .team-right {
            width: 100%;
            margin-top: 60px;
        }

        .home-team {
            margin: 150px 0;
        }

        .home-team:hover::before{}

        .home-team:hover::before{ width: 175px;
            height: 181px;
            top: 59%;
            right: -17%;
        }


       
        .team-left::before {
            width: 25px;
            height: 25px;
            bottom: 7%;
            left: 14%;
        }
        .home-team:hover .team-left::before{
            width: 25px;
            height: 25px;
            bottom: 7%;
            left: 14%;
        }


        .home-team:hover .team-left::after{ top: 13%;
            right: -1%;
        }
        .team-left::after {
            top: 13%;
            right: -1%;
        }

        .home-team::before {
            width: 175px;
            height: 181px;
            top: 57%;
            right: -17%;
            object-fit: contain;
            background-size: 100%;
        }

        .home-team:hover::before {
            width: 175px;
            height: 181px;
            top: 57%;
            right: -17%;
        }

        /* .showCircle::before{display: none;}
        .showCircle::after{display: none;} */


        /* .age-group:hover::before{display: none;}
        .age-group:hover::after{display: none;} */


        p {
            font-size: 18px;
        }


        .inner-galery-main {
            flex-wrap: wrap;
        }

        .left-home-gallery:first-child {
            width: 100%;
        }

        .left-home-gallery {
            width: 100%;
        }

        .left-home-gallery:last-child {
            width: 100%;
        }

        .inner-galery-main {
            flex-wrap: wrap;
            max-height: 500px;
            overflow-y: auto;
        }

        .testmonial-icon-bg {
            right: 7%;
            top: 28%;
        }

        .home-testmonial:hover .testmonial-color {
            transform: rotate(0deg);
        }

        .home-testmonial::before {
            left: 13%;
            top: inherit;
            bottom: 23%;
        }

        .home-testmonial:hover::before {
            left: 13%;
            top: inherit;
            bottom: 23%;
        }

        .home-blog-inner {
            display: flex;
            flex-wrap: wrap;
        }


        .left-blog-url {
            width: 100%;
        }

        .right-blog {
            width: 100%;
        }

        .home-blog-cnt {
            display: flex;
            flex-wrap: wrap;
        }

        .blog-cnt-left {
            width: 100%;
        }

        .blog-cnt-right {
            width: 100%;
            margin-top: 50px;
        }

        .left-blog-url ul li {
            display: inline-block;
        }

        .left-blog-url ul {
            display: flex;
            gap: 0 15px;
        }

        .left-blog-url ul li {
            width: 100%;
        }

        .left-blog-url ul li a {
            padding: 11px 0;
            font-size: 18px;
        }

        .home-blog::before {
            width: 496px;
            height: 208px;
            left: -20%;
        }
       
        .home-blog {
            padding: 0 5%;
        }

        .blog_bg_circle {
            display: none;
        }

        .home-blog-cnt {
            margin-top: 20px;
        }

        .blog-cnt-right {
            margin-top: 40px;
        }

        .blog-cnt-right h5 {
            font-size: 25px;
        }

        .blog-date-home .date-prt {
            font-size: 18px;
        }

        .home-blog .owl-theme .owl-nav.disabled+.owl-dots {
            padding-left: 0;
            text-align: center;
        }

        .inner-take-step {
            flex-wrap: wrap;
        }

        .left-step {
            width: 100%;
            text-align: center;
        }

        .first-step-sec {
            padding: 0;
            margin-bottom: 0;
        }

        .right-step {
            width: 100%;
            border-radius: 100px 100px 15px 15px;
        }

        .first-step-sec::before {
            width: 50px;
            height: 50px;
            bottom: inherit;
            top: 33px;
            left: -3%;
        }

        .first-step-sec:hover::before {
            bottom: inherit;
            top: 33px;
            left: -3%;
        }

        .first-step-sec::after {
            right: -5%;
            width: 80px;
            height: 80px;
            top: inherit;
            bottom: 14%;
        }

        .first-step-sec:hover::after {
            top: inherit;
            bottom: 14%;
            right: -5%;
        }

        .first-step-sec {
            margin-bottom: -25px;
        }

        .right-step a {
            font-size: 18px;
            padding: 12px 0;
        }

    }

    @media screen and (max-width:809px) {
       
    }

    @media screen and (max-width:799px) {
        
    }
    



    @media screen and (max-width:767px) {
       

        .all_popup_design .modal-dialog {
            width: 94%;
            padding: 0;
            margin: 0 auto;
        }

        .all_popup_design {
            top: 125px;
        }

        .home-about-inner::before {
            left: 22%;
            top: 48%;
        }
        
        .home-about-inner::before {
            left: 22%;
            top: 48%;
        }

        .home-about-inner::after {
            right: 14%;
            top: 19%;
        }

        .home-about::before {
            width: 250px;
            height: 150px;
            left: inherit;
            right: -29%;
            top: 55%;
        }

        .slider_bottom_img {
            display: block;
            position: absolute;
            bottom: -2px;
        }

        .tabing-top {
            left: 7%;
            top: 60%;
            width: 100%;
        }

        .learning-up-bg {
            top: -109px;
        }

        .age-group::after {
            right: inherit;
            top: 48%;
            width: 50px;
            height: 50px;
            left: 11px;
        }

        .age-group:hover::after {
            left: 11px;
            right: inherit;
            top: 48%;
        }

        .age-group::before {
            width: 40px;
            height: 40px;
            right: 18px;
            top: 65%;
        }

        .age-group:hover::before {
            top: 65%;
        }

        .learning-zones .wrapper {
            width: 75%;
        }

        .learning-zones .owl-nav .owl-prev {
            left: -11%;
        }

        .learning-zones .owl-nav .owl-next {
            right: -11%;
        }

        .home-testmonial {
            position: relative;
            margin-top: 100px;
        }

        .home-testmonial .owl-nav .owl-prev span {
            width: 40px;
            height: 40px;
        }

        .home-testmonial .owl-nav .owl-next span {
            width: 40px;
            height: 40px;
        }

        .home-testmonial .owl-nav .owl-prev {
            left: -31%;
        }

        .home-testmonial .owl-nav .owl-next {
            right: -31%;
        }

        .home-blog::before {
            width: 467px;
            height: 160px;
            left: -20%;
            top: 1%;
        }

        .home-blog-inner {
            margin-top: 80px;
        }

        .first-step-sec::after {
            width: 70px;
            height: 70px;
        }

        /* .all_popup_design .form_part{margin: 7px 0;}

        .all_popup_design .form_part_flex {
            gap: 0;
        } */

        .Infants-main {
            display: grid;
        }

        .all_popup_design .form_part_flex {
            display: grid;
        }

        .left-blog-url ul {
            gap: 0 6px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

        .blog-date-home {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

    }
    
    @media screen and (max-width:639px) {
       
        .all_popup_design .form_part {
            width: 100%;
        }

        .main-heading {
            font-size: 35px;
        }

        .left_abt_home h5 {
            font-size: 18px;
        }

        .home-about::before {
            width: 207px;
            height: 124px;
            left: inherit;
            right: -29%;
            top: 47%;
        }

        .home-about-inner::before {
            left: 22%;
            top: 43%;
        }

        .home-about-inner::after {
            right: 12%;
            top: 17%;
        }

        .age-group::after {
            right: inherit;
            top: 38%;
            width: 50px;
            height: 50px;
            left: 2px;
        }

        .age-group:hover::after {
            left: 2px;
            top: 38%;
        }

        .age-group::before {
            width: 40px;
            height: 40px;
            right: 5px;
            top: 60%;
        }

        .age-group:hover::before {
            top: 60%;
        }

        .tabing-top li a {
            padding: 7px 21px;
            font-size: 17px;
        }

        .tabing-top li {
            margin-right: 15px;
        }

        .right-Infants-cntent {
            margin-top: 100px;
            padding: 0 30px;
        }

        .right-Infants {
            padding-bottom: 30px;
        }

        .tabing-top {
            left: 7%;
            top: 54%;
            width: 100%;
        }

        .all_popup_design .age-sec-title {
            margin-top: 0;
        }

        .all_popup_design .modal-body {
            position: relative;
            padding: 35px 35px 35px 35px;
        }

        .learning-zones .owl-nav .owl-prev {
            left: -15%;
        }

        .learning-zones .owl-nav .owl-next {
            right: -15%;
        }


        .learning-down-bg {
            bottom: -66px;
        }

        .learning-up-bg {
            top: -66px;
        }

        .learning-zones {
            margin-top: 80px;
        }

        .home-team {
            margin: 115px 0;
        }

        .team-left::after {
            top: 2%;
            right: 0%;
            width: 40px;
            height: 40px;
        }

        .home-team:hover .team-left::after {
            top: 2%;
            right: 0%;
        }

        .team-left::before {
            width: 25px;
            height: 25px;
            bottom: -4%;
            left: 25%;
        }

        .home-team:hover .team-left::before {
            bottom: -4%;
            left: 25%;
        }

        .home-team::before {
            width: 152px;
            height: 160px;
            top: 40%;
            right: -21%;
        }

        .team-right {
            width: 100%;
            margin-top: 65px;
        }

        .home-blog::before {
            width: 405px;
            height: 129px;
            left: -21%;
            top: 2%;
        }
        
        .left-blog-url ul li a {
            padding: 10px 0;
            font-size: 16px;
        }

        .left-blog-url ul {
            margin-bottom: 0;
        }

        .left-blog-url ul li a {
            padding: 10px 0;
            font-size: 16px;
            margin-bottom: 0;
        }

        .left-blog-url ul li a {
            padding: 10px 0;
            font-size: 16px;
            margin-bottom: 0;
        }


        .first-step-sec::after {
            width: 60px;
            height: 60px;
            bottom: 18%;
        }

        .first-step-sec:hover::after {
            bottom: 18%;
        }

        .first-step-sec::before {
            top: 43px;
            left: -4%;
        }

        .first-step-sec:hover::before {
            top: 43px;
            left: -4%;
        }


        .left-bnr-sercle {
            width: 100px;
            height: 100px;
            left: -39px;
            top: inherit;
            bottom: 29%;
            transition: 0.5s;
        }

        .home-slider:hover .left-bnr-sercle {
            width: 80px;
            height: 79px;
            top: 18%;
        }

        .right-bnr-sercle {
            width: 80px;
            height: 76px;
            bottom: inherit;
            top: 17%;
            right: -44px;
            transition: 0.5s;
        }

        .home-slider:hover .right-bnr-sercle {
            width: 110px;
            height: 103px;
            right: -60px;
            bottom: 40%;
            top: inherit;
        }


        .bnr-cnt-home {
            position: absolute;
            left: 6%;
            top: 31%;
        }

        .bnr-cnt-home h2 {
            font-size: 40px;
        }

        .bnr-cnt-home P {
            font-size: 20px;
        }

        .bnr-cnt-home a {
            padding: 13px 46px;
            font-size: 18px;
        }

        .age-bg-path {
            width: 307px;
            right: -25%;
            top: inherit;
            bottom: 7px;
        }

        .learning-up-bg {
            top: -75px;
        }

        .learning-down-bg {
            bottom: -75px;
        }
       

    }

    @media screen and (max-width:575px) {
        
    }
    
    @media screen and (max-width:479px) {
       
        .all_popup_design {
            top: 86px;
        }

        .main-heading {
            font-size: 26px;
        }

        .all_popup_design .modal-body {
            position: relative;
            padding: 20px 30px 30px 30px;
        }


        .all_popup_design .form_part input {
            height: 35px;
            font-size: 14px;
        }

        .all_popup_design .form_information {
            margin-top: 24px;
        }

        .your_information_btn button, input {
            font-size: 14px;
        }

        .all_popup_design .form_information p {
            margin-top: 12px;
        }

        .age-sec-title p {
            font-size: 14px;
            margin-top: 26px;
        }

        .all_popup_design .modal-dialog {
            width: 90%;
        }

        .home-about::before {
            width: 202px;
            height: 121px;
            left: inherit;
            right: -35%;
            top: 44%;
        }

        .age-group {
            padding-top: 20px;
        }

        .right-Infants-cntent p {
            font-size: 16px;
        }

        .right-Infants-cntent h5 {
            font-size: 20px;
        }

        .right-Infants-cntent {
            margin-top: 160px;
        }

        .tabing-top li {
            margin-right: 10px;
        }

        .tabing-top li a {
            padding: 8px 30px;
            font-size: 16px;
        }

        .tabing-top li {
            margin-right: 10px;
            margin-bottom: 16px;
        }

        .tabing-top li:last-child{margin-bottom: 0;}

        .tabing-top {
            left: 8%;
            top: 49%;
            width: 100%;
        }

        .age-group::after {
            right: inherit;
            top: 34%;
            width: 40px;
            height: 40px;
            left: 2px;
        }

        .age-group:hover::after {
            left: 2px;
            top: 34%;
        }

        .learning-up-bg {
            top: -60px;
        }

        .learning-down-bg {
            bottom: -60px;
        }

        .age-sec-title .wrapper{width: 100%;}

        p {
            font-size: 16px;
        }

        .learning-zones .owl-nav .owl-prev span {
            width: 30px;
            height: 30px;
        }

        .learning-zones .owl-nav .owl-prev span::before {
            font-size: 16px;
        }

        .learning-zones .owl-nav .owl-next span {
            width: 30px;
            height: 30px;
        }

        .learning-zones .owl-nav .owl-next span::before {
            font-size: 16px;
        }

        .learning-zones .owl-nav .owl-prev {
            left: -13%;
        }

        .learning-zones .owl-nav .owl-next {
            right: -13%;
        }

        .home-team::before {
            width: 147px;
            height: 155px;
            top: 38%;
            right: -23%;
        }

        .home-team:hover::before {
            width: 147px;
            height: 155px;
            top: 38%;
            right: -23%;
        }

        .all_popup_design .modal-content {
            border: none;
            box-shadow: none;
        }

        .home-testmonial {
            margin-top: 80px;
        }

        .left-blog-url ul li a {
            padding: 6px 0;
            font-size: 15px;
            margin-bottom: 0;
            font-weight: 600;
        }

        .left-blog-url ul {
            gap: 0 6px;
        }

        .home-blog::before {
            width: 217px;
            height: 111px;
            left: -21%;
            top: 3%;
        }

        .home-blog-cnt {
            margin-top: 30px;
        }

        .blog-cnt-right {
            margin-top: 30px;
        }

        .blog-cnt-right h5 {
            font-size: 22px;
        }

        .inner-take-step {
            border: none;
        }

        .right-step {
            padding: 44px 13%;
        }

        .testmonial-color {
            width: 75px;
        }

        .testmonial-opacity {
            width: 75px;
        }

        .testmonial-icon-bg {
            right: 7%;
            top: 21%;
        }

        .home-testmonial {
            padding-top: 30px;
        }

        .home-testmonial .owl-nav .owl-next span {
            width: 30px;
            height: 30px;
        }

        .home-testmonial .owl-nav .owl-next span::before {
            font-size: 16px;
        }

        .home-testmonial .owl-nav .owl-prev span {
            width: 30px;
            height: 30px;
        }


        .home-testmonial .owl-nav .owl-prev span::before {
            font-size: 16px;
        }

        .inner-galery-main {
            flex-wrap: wrap;
            max-height: 465px;
        }

    }

    @media screen and (max-width:427px) {
       
    }
    
    @media screen and (max-width:413px) {
        
        .bnr-cnt-home h2 {
            font-size: 35px;
        }
    
        .bnr-cnt-home P {
            font-size: 18px;
        }

        .home-slider .owl-dots .owl-dot span {
            width: 13px;
            height: 13px;
        }

        .home-about::before {
            width: 190px;
            height: 112px;
            left: inherit;
            right: -35%;
            top: 40%;
        }

        .home-left-abt-btn a {
            padding: 7px 60px 7px 15px;
        }

   
      

        .right-Infants-cntent h5 {
            font-size: 18px;
        }

        .right-Infants-cntent p {
            font-size: 14px;
        }

        .age-bg-path {
            width: 281px;
            right: -31%;
            top: inherit;
            bottom: 18px;
        }

        .learning-zones {
            margin-top: 60px;
        }

        .learning-up-bg {
            top: -55px;
        }

        .learning-down-bg {
            bottom: -55px;
        }

        .tabing-top {
            left: 8%;
            top: 48%;
        }

        .home-about-inner::before {
            left: 28%;
            top: 41%;
        }

        .home-about-inner::after {
            right: 10%;
            top: 15%;
        }

        .testmonial-icon-bg {
            right: 7%;
            top: 23%;
        }

        .right-step a {
            font-size: 16px;
        }


        .inner-galery-main {
            margin-top: 30px;
        }
        
        
    }
    @media screen and (max-width:389px) {
       
    }
    
    @media screen and (max-width:374px) {
      
        .home-team::before {
            width: 130px;
            height: 139px;
            top: 34%;
            right: -23%;
        }

        .home-team:hover::before {
            width: 130px;
            height: 139px;
            top: 34%;
            right: -23%;
        }

        .inner-galery-main {
            flex-wrap: wrap;
            max-height: 460px;
        }

        .gallery-btn {
            margin-top: 20px;
        }

        .home-testmonial {
            padding-top: 20px;
        }


    }

    @media screen and (max-width:360px) {
        
    }
    
    @media screen and (max-width:359px) {
       
        .tabing-top {
            left: 8%;
            top: 44%;
        }

        .age-group::after {
            top: 30%;
        }

        .age-group::before {
            top: 53%;
        }

        .age-group:hover::before {
            top: 53%;
        }

        .age-group:hover::after {
            top: 30%;
        }

        .team-left::after {
            top: 1%;
            right: -2%;
            width: 35px;
            height: 35px;
        }

        .home-team:hover .team-left::after {
            top: 1%;
            right: -2%;
        }

        .team-left::before {
            width: 25px;
            height: 25px;
            bottom: -7%;
            left: 23%;
        }

        .home-team:hover .team-left::before {
            bottom: -7%;
            left: 23%;
        }

        .inner-galery-main {
            max-height: 435px;
        }


        .home-blog::before {
            width: 213px;
            height: 109px;
            left: -28%;
            top: 3%;
        }
        

    }


    @media screen and (max-width:339px) {

        .tabing-top {
            left: 8%;
            top: 42%;
        }


        .home-about-inner::before {
            left: 20%;
            top: 36%;
        }

        .home-about-inner::after {
            right: 8%;
            top: 15%;
        }

        .home-about::before {
            width: 168px;
            height: 98px;
            left: inherit;
            right: -39%;
            top: 39%;
        }

        .home-team::before {
            width: 117px;
            height: 132px;
            top: 32%;
            right: -25%;
        }

        .home-team:hover::before {
            width: 117px;
            height: 132px;
            top: 32%;
            right: -25%;
        }

    }


   